<ion-header>
  <ion-navbar color="light">
    <ion-title>
      Carrinho
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="content"></div>

  <div class="item" *ngFor="let item of items">

    <div class="ion-card">

      <div class="img-content">

        <img [src]="item.productItem.img" />
      </div>
      <div>
        <ion-card-title>
          {{ item.productItem.title }}
        </ion-card-title>
        <div class="price">{{ item.productItem.price | currency:'BRL':true }}</div>

      </div>

    </div>

    <div class="numProducts">
      <button (click)="decrementNumProducts(item)">-</button>
      {{ item.quantity }}
      <button (click)="incrementNumProducts(item)">+</button>
    </div>
  </div>

  <ion-list *ngIf="total != 0">
    <ion-item>
      <ion-label>Mesa</ion-label>
      <ion-select [(ngModel)]="table" cancelText="Cancelar">
        <ion-option *ngFor="let tableNum of tables" [value]="tableNum">{{tableNum}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button class="btnBuy" (click)="addOrder()" *ngIf="total != 0" [disabled]="!table">
    <span>Finalizar Pedido</span>
    <span>{{ total | currency:'BRL':true }}</span>
  </button>
  <div class="cartEmpty" *ngIf="total == 0" style="justify-content: center;">
    <span>O Carrinho está vazio...</span>
  </div>

</ion-content>