page-home {
  h2{
    font-weight: bold !important;
    font-size: 1.2em !important;
  }
  .scroll-content{
    padding: 0px !important;
  }
  .scroll-content, .item-md, .item{
  }
  .item{
    padding: 5px;
    border-bottom: 5px solid white;
  }

  .item:hover{
    filter: brightness(110%);
  }

  .item img, .item ion-icon{
    transition: 0.3s all;
  }

  .item:hover,   .item:focus, .item:active {
    img{
      transform: scale(1.2);

    }
    ion-icon{
      transform: scale(1.5);

    }
  }

  img{
    padding: 1em;
    height: 5.4em !important;
    width: 5em !important;
  }
  .item-inner{
    border: 0px !important;
  }
  ion-list{
    margin-bottom: 0px !important;
  }
}
