page-home {
  h2{
    font-weight: bold !important;
    font-size: 1.2em !important;
  }
  
  .scroll-content, .item-md, .item{
    background-color: #FFF3E0    ; // black
  }
  .item{
    border-bottom: 5px dashed white;
  }

  .card {
    background-color: rgba(255, 166, 0, 0.829); // black
    color:white !important;
  }
  .card-title{
    color: white;
    font-size: 2em;
    font-weight: 500;
    background: rgba(0,0,0,0.7);
    text-align: center;
    margin: 0px;
  }

  img{
    padding: 1em;
    height: 5.4em !important;
    width: 5em !important;
  }

  .item-inner{
    border: 0px !important;
  }

  
}
