<ion-content [style.background-color]="category.color" *ngIf="category">
  <div class="content" [ngStyle]="{'background': category.color  }" (swipe)="changeCategory($event)"></div>
  <ion-icon name="md-arrow-dropdown-circle" (click)="back()" [ngStyle]="{'text-shadow': '2px 2px 5px ' + category.color }"></ion-icon>

  <div class="title" [ngStyle]="{'background': 'rgba(255,255,255,0.92)'  }" (swipe)="changeCategory($event)">
    <img [src]="category?.img" style="width:1.3em; height: 1.3em;" />
    <span [ngStyle]="{'color': category.color  }">{{ category?.name}}</span>
  </div>
  <div class="ion-card" *ngFor="let product of products | async" [ngStyle]="{'background': category.color  }" (click)="openDetailsProduct(product)">
    <ion-grid>
      <ion-row>

        <ion-col col-5 class="img-content" [ngStyle]="{'background': category.color  }">

          <img [src]="product.img" />
        </ion-col>
        <ion-col col-7>

          <ion-card-content>
            <ion-card-title [ngStyle]="{'color': category.color  }">
              {{ product.title }}
            </ion-card-title>
            <div class="card-description">
              {{ product.description | truncate }}
            </div>
            <div class="price">{{ product.price | currency:'BRL':true }}</div>
          </ion-card-content>

        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>