<ion-header>
  <ion-navbar color="light">
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="tabled" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let table of tables" [value]="table">
      <span>{{ table }}</span>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tabled">
    <div *ngFor="let table of tables">
      <ion-list *ngSwitchCase="table" style="margin-left: 50px;">
        <div *ngFor="let entry of items| keys">
          <div class="order" [class.order-done]="entry.value.ready == 1">
            <span class="done" *ngIf="entry.value.ready == 1">PRONTO</span>
            <span class="order-title">Pedido {{entry.value.key}}</span>
            <hr>
            <div *ngFor="let entry2 of entry.value| keys">
              <div class="order-product" *ngIf="entry2.value.title">
                <span>{{entry2.value.title}} - {{entry2.value.price | currency:'BRL':"symbol" }} x {{entry2.value.quantity}}</span>
                <span>{{ entry2.value.price* entry2.value.quantity| currency:'BRL':"symbol" }}</span>
              </div>
            </div>
            <hr>
            <span class="total">
              <span>Total:</span>{{ entry.value | sumPricesProducts | currency:'BRL':"symbol" }}</span>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>