page-orders {
  ion-segment{
    display: block;
    position: fixed;
    margin-top: 40px;
  }
  .top-offer{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: space-between;
    button{
      width: auto !important;
      margin-left: 0 !important;
      background: white !important;
      color: green;
    }
  }
  .changeOfferIcon{
    z-index: 100000;
    text-align: right;
    right: 0;
  }
  ion-segment-button{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    color: red !important;
    padding: 20px !important;
    padding-left: 15px !important;
    line-height: 0px !important;
    border: none !important;
    border-bottom: red solid 2px !important;
    border-radius: 100%;
    margin-bottom: 5px;
    text-align: center !important;
  }

  .segment-activated{
    color: white !important;
    background: red !important;
    border: red solid 1px;
  }

  ion-list{
    margin-left: 50px !important;
  }

  .order{
    background:rgba(255, 0, 0, 0.849) !important;
    color: white !important;
    margin-top: 15px !important;
    border-radius: 10px;
    padding: 10px;
    border: dotted 1px white;
  }

  hr{
    border-bottom: 2px solid white;
  }

  .order-title{
    font-weight: bold;
    font-size: 1.1em;
  }
  .total,.order-product{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: space-between;
  }
  .total{
    font-weight: bold;
  }

  .order-done{
    background: rgba(0, 158, 0, 0.81) !important;
  }

  .done{
    font-weight: bold;
    position: absolute;
    right: 15px;
    font-size: 0.8em;
    color: yellow;
  }
}
